html, body {
    overflow: hidden;

    background-color: rgb(30, 30, 32);
    color: rgb(228, 235, 242);
    font-family: "DT";
    font-size: 3vmin;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    margin: 2vmin
}

#stage {
    position: relative;
}

.letter {
    position: absolute;
    user-select: none;
    white-space: pre;
    font-family: "DT";
    font-size: 3vmin;
}


@font-face {
    font-family: 'DT';
    src: url('/Minecraft.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}